html {
  font-size: 62.5%;
  font-family: 'Space Grotesk', sans-serif;
}

body {
  line-height: 1.6em;
  overflow: hidden;
  height: calc(100vh - 16px);
  margin-right: 0;
  font-size: 1.8rem;
}

h1 {
  font-size: 3.2rem;
  font-family: 'Space Grotesk', sans-serif;
}

h2 {
  font-size: 2.4rem;
  font-family: 'Space Grotesk', sans-serif;
}

h3 {
  font-size: 1.9rem;
  font-family: 'Space Grotesk', sans-serif;
}

h4 {
  font-size: 1.6rem;
  font-family: 'Space Grotesk', sans-serif;
}

h5 {
  font-size: 1.3rem;
  font-family: 'Space Grotesk', sans-serif;
}

h6 {
  font-size: 1rem;
  font-family: 'Space Grotesk', sans-serif;
}

aside {
  flex: 1 0 auto;
  min-height: 70%;
  padding: 20px 20px 0 20px;
  background-image: url("/pictures/black-ikat.jpg");
  background-size: 100% auto;
  background-repeat: repeat;
}

nav {
  font-weight: 300;
  color: rgb(255, 255, 255);
  height: 100%;
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: 'Perfograma';
  src: url("/fonts/perfograma.regular.otf") format("opentype");
}

footer {
  background-color: #018281;
    text-align: center;
    padding: 15px;
    margin-right: 8px;
    margin-left: 8px;
    color: #ffffff;
    font-size: 1.5rem;
}

.visitor-text {
  position: relative; vertical-align: baseline; top: 3px;
  font-size: 18px;
  font-family: 'Perfograma', serif;
  padding-bottom: 10px;
}

.hit-counter {
  padding-bottom: 7px;
}

footer img {
    vertical-align: middle; /* Aligns the image vertically in the middle */
}

.rc-scout__link {
  color: #FAFA00 !important;
}

#imageContainer {
  position: relative;
  width: 100%;
}

#mapOverlay {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
.heading {
  padding-bottom: 20%;
}

#name {
  line-height: 1;
  letter-spacing: 0.5px;
  margin: 0;
  text-transform: capitalize;
  font-size: 4.6rem;
  font-family:"Jersey 25", sans-serif;
  font-weight: 400;
}

#sub-name {
  font-weight: 300;
  margin: 0;
  font-family: "Palanquin", sans-serif;
}

#pronouns {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  font-weight: 300;
}

.nav-items {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#socials {
  margin-top: auto;
  padding-bottom: 20px;
}

nav ul {
  list-style-type: none;
  font-size: 2.5rem;
  padding: 0;
}

nav li {
  padding-top: 10px;
}

nav a {
  text-decoration: none;
  color: inherit;
}

section {
  margin-right: 8px;
  margin-left: 8px;
  min-height: calc(100% - 95.88px); /* this is an awful hack to push footer down */
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(auto-fill, 5vw);
  grid-gap: 8px;
  filter: brightness(55%);
  margin-bottom: 8px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.gallery__item {
  margin: 0;
}

.gallery__item.pondy {
  grid-area: 1 / 1 / span 5 / span 5;
}

.gallery__item.desk {
  grid-area: 1 / 6 / span 7 / span 3;
}

.gallery__item.tattoo1 {
  grid-area: 6 / 1 / span 5 / span 3;
}

.gallery__item.cup {
  grid-area: 6 / 4 / span 4 / span 2;
}

.gallery__item.piano {
  grid-area: 14 / 4 / span 4 / span 2;
}

.gallery__item.terrarium {
  grid-area: 11 / 1 / span 8 / span 3;
}

.gallery__item.desk1 {
  grid-area: 10 / 4 / span 4 / span 5;
}

.gallery__item.soundcloud {
  grid-area: 8 / 6 / span 2 / span 3;
}

.gallery__item.spotify {
  grid-area: 14 / 6 / span 4 / span 3;
}

.gallery__item.shirt-print-btn {
  grid-area: 18 / 4 / span 1 / span 5;
}

.wrapper {
  display: flex;
  height: 100%;
}

.container {
  width: 100%;
  overflow: auto;
  font-family: "JetBrains Mono", monospace;
}

.highlight-container,
.highlight {
  position: relative;
}

.highlight-container {
  display: inline-block;
}

.highlight-container:before {
  content: " ";
  display: block;
  height: 60%;
  width: 100%;
  margin-left: -3px;
  margin-right: -3px;
  position: absolute;
  background: #582b55;
  transform: rotate(2deg);
  top: -1px;
  left: -1px;
  border-radius: 20% 25% 20% 24%;
  padding: 10px 3px 3px 10px;
}

.gallery__item.bloodywood {
  display: none;
}

p {
  /* From custom.css for desk setup content */
  margin-top: .5em;
  margin-bottom: .5em
}

@media (max-width: 768px) {
  nav {
    margin: 0;
  }

  .wrapper {
    flex-direction: column;
  }

  .container {
    overflow: visible;
  }

  body {
    margin: 0;
    overflow: auto;
    font-size: 1.6rem;
  }

  section {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  footer {
    margin-right:0px !important;
    margin-left: 0px !important;
  }

  h1 {
    font-size: 2.1rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  #name {
    font-size: 3.5rem;
  }

  .heading {
    padding-bottom: 20px;
  }

  nav ul {
    font-size: 1.9rem;
  }

  .gallery {
    grid-gap: 4px;
    margin: 4px 0 0 0;
  }

  .gallery__item.pondy {
    grid-area: 1 / 1 / span 10 / span 8;
  }

  .gallery__item.desk {
    grid-area: 11 / 5 / span 12 / span 4;
  }

  .gallery__item.tattoo1 {
    grid-area: 11 / 1 / span 9 / span 4;
  }

  .gallery__item.piano {
    grid-area: 20 / 1 / span 10 / span 4;
  }

  .gallery__item.soundcloud {
    grid-area: 32 / 1 / span 5 / span 8;
  }

  .gallery__item.spotify {
    grid-area: 37 / 1 / span 6 / span 8;
  }

  .gallery__item.cup {
    grid-area: 23 / 5 / span 9 / span 4;
  }

  .gallery__item.terrarium {
    grid-area: 43 / 1 / span 13 / span 4;
  }

  .gallery__item.desk1 {
    grid-area: 56 / 1 / span 7 / span 8;
  }

  .gallery__item.shirt-print-btn {
    grid-area: 30 / 1 / span 2 / span 4;
  }

  .gallery__item.bloodywood {
    display: block;
    grid-area: 43 / 5 / span 13 / span 4;
  }
}
