<footer>
    <div class="hit-counter">
        <span class="visitor-text">You are visitor number:</span>
        <img src="https://counter.websiteout.com/compte.php?S=https://raghavio.com%2F&C=24&D=6&N=133756&M=0&clt=1752344478&ca=" alt="Oldschool website hit counter.">
    </div>
    <div class="rc-scout">
        <i class="rc-scout__logo"></i>
        Want to become a better programmer? <a target="_blank" style="color: #FAFA00"
            href="https://www.recurse.com/scout/click?t=21820bc9c687dc992c04bdcdcc68b0d3">Join the Recurse Center!</a>
    </div>
</footer>
