*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul {
    list-style-type: none;
    font-size: 1.5rem;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  text-shadow: 0 0 3px #ffffff, 0 0 20px #ffffff;
  font-weight: 300;
  line-height: 1.6;
  position: relative;
  height: 100%;
  margin: 0.5rem;
  padding: 0;
}

h1 {
  font-size: 2.3rem;
}

h4 {
  font-size: 1.3rem;
}

nav {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9); /* Background color with 50% opacity */
  color: rgb(255, 255, 255);
  width: 18%;
  height: calc(100% - 1rem);
  padding: 20px;
}

nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("pictures/black-ikat.jpg");
  background-size: 100% auto;
  background-repeat: repeat;
  opacity: 0.8;
  z-index: -1; /* Ensure the background image is behind the content */
}

#name {
  line-height: 1;
  letter-spacing: 5px;
}

#sub-name {
  font-weight: 500;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(18, 5vw);
  grid-gap: 0.5rem;
  margin-left: calc(18% + 0.7rem);
  filter: brightness(60%);
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.gallery__item--1 {
  grid-area: 1 / 1 / 6 / 6;
}

.gallery__item--2 {
  grid-area: 1 / 6 / 8 / 9;
}

.gallery__item--3 {
  grid-area: 6 / 1 / 11 / 4;
}

.gallery__item--4 {
  grid-area: 6 / 4 / 10 / 6;
}

.gallery__item--5 {
  grid-area: 14 / 4 / 18 / 6;
}

.gallery__item--6 {
  grid-area: 11 / 1 / 19 / 4;
}

.gallery__item--7 {
  grid-area: 10 / 4 / 14 / 9;
}

.gallery__item--8 {
  grid-area: 8 / 6 / 10 / 9;
}

.gallery__item--9 {
  grid-area: 14 / 6 / 18 / 9;
}

.gallery__item--10 {
  grid-area: 18 / 4 / 19 / 9;
}