*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul {
    list-style-type: none;
    font-size: 1.7rem;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  color: white;
  font-weight: 300;
  line-height: 1.6;
  background-image: url("pictures/carpet.jpg");
  background-repeat: repeat;
  background-size: 968px 685px;
  position: relative;
  height: 100%;
  margin: 0.5rem;
  padding: 0;
}

h1 {
  font-size: 3rem;
}

h4 {
  font-size: 1.3rem;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  /* width: 200px; */
  height: 100%;
  padding: 20px;
}

#name {
  line-height: 1;
  letter-spacing: 7px;
}

#sub-name {
  font-weight: 500;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(16, 5vw);
  grid-gap: 0.5rem;
  position: absolute;
  z-index: -1;
  margin: 7px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  filter: brightness(50%);
  border-radius: 1%;
}

.gallery__item--1 {
  grid-area: 1 / 1 / 7 / 6;
}

.gallery__item--2 {
  grid-area: 1 / 6 / 10 / 9;
}

.gallery__item--3 {
  grid-area: 7 / 1 / 13 / 4;
}

.gallery__item--4 {
  grid-area: 7 / 4 / 12 / 6;
}

.gallery__item--5 {
  grid-area: 17 / 4 / 22 / 6;
}

.gallery__item--6 {
  grid-area: 13 / 1 / 23 / 4;
}

.gallery__item--7 {
  grid-area: 12 / 4 / 17 / 9;
}

.gallery__item--8 {
  grid-area: 10 / 6 / 12 / 9;
}

.gallery__item--9 {
  grid-area: 17 / 6 / 22 / 9;
}

/* .gallery__img {
  filter: grayscale(100%);
  transition: filter 0.5s; 
}

.gallery__img:hover {
  filter: grayscale(0%);
} */